@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Fira+Code:wght@300..700&family=Outfit:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
    --font-outfit: 'Outfit', sans-serif;
    --font-saira: 'Saira', sans-serif;
    --font-cascadia: 'Cascadia Code', monospace;
    --font-fira: 'Fira Code', monospace;
}

@layer base {
    body {
        @apply bg-black text-white;
    }
}